<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="navigateBack()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   class="form-control"
                   name="name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input id="imagePath"
                   class="form-control"
                   name="imagePath"
                   formControlName="imagePath"
                   #imageInput>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageInput.value" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description"
                      id="description"
                      rows="6"
                      formControlName="description">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="onAddIngredientControl()">Add ingredient</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientForm of controls; let i = index" [formGroupName]="i">
            <div class="col-xs-8">
              <input class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input class="form-control" type="number" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredientControl(i)">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
