<div class="row">
  <div class="col-xxl-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid pt-5" style="max-height: 400px">
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <div class="btn-group">
      <button [appDropdown]="dropdownMenu" type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <div>
        <ul class="dropdown-menu" #dropdownMenu>
          <li><a class="dropdown-item ref" (click)="addToShoppingList()">To shopping List</a></li>
          <li><a class="dropdown-item ref" (click)="onEdit()">Edit recipe</a></li>
          <li><a class="dropdown-item ref" (click)="onDelete()">Delete recipe</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xxl-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
