<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button [appDropdown]="dropdownMenu" type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <div>
        <ul class="dropdown-menu" #dropdownMenu>
          <li><a class="dropdown-item" href="#">To shopping List</a></li>
          <li><a class="dropdown-item" href="#">Edit recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete recipe</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
